<div class="example-wrapper">
    <kendo-dialog title="Item Code" (close)="close()" [minWidth]="250" [width]="450">
            <kendo-grid [data]="ItemData" [groupable]=isColumnGroup
            [selectable]="true" 
            [resizable]="true" (selectionChange)="gridRowSelectionChange($event,ref)"
            [ngStyle]="{ 'cursor': 'pointer', 'max-height':'290px'}">
            <ng-template kendoGridToolbarTemplate>
              <form class="k-form opti_show-hide-grid-column-filter float-left opti_hide-in-mobile pl-0 pt-0">
                <div class="k-form-field d-flex">
                  <input #chkFilter1 type="checkbox" 
                    id="opti_SalesOrderListColumnFilterID1" [(ngModel)]="isColumnFilter1" class="k-checkbox"
                    name="columnfilter" />
                  <label class="k-checkbox-label"
                    for="opti_SalesOrderListColumnFilterID1">Enable Filter</label>
                </div>
                
              </form>
            </ng-template>
            <kendo-grid-column field="ItemCode" title="Item Code" width="80">
            </kendo-grid-column>
            <kendo-grid-column field="ItemName" title="Item Name" width="80">
            </kendo-grid-column>
          </kendo-grid>
        <kendo-dialog-actions>
            <button kendoButton (click)="close()">Cancel</button>
        </kendo-dialog-actions>
    </kendo-dialog>
</div>