:host{
    flex:0 0 100%;
    display: flex;
    overflow: auto;
    flex-direction: row;
    ::ng-deep{
        & .k-splitter{
            background-color:transparent; 
            border: none;
            & .k-splitbar{
                background-color: transparent;
            }
            & .k-ghost-splitbar-horizontal, .k-splitbar-horizontal{
                width: 15px;
                &:hover, &:active{
                    background-color: rgba(0,0,0,0.05)
                }
            }
            & .k-ghost-splitbar-vertical, .k-splitbar-vertical{
                height: 10px;
                &:hover, &:active{
                    // background-color: rgba(0,0,0,0.05);
                    background-color: #00e3d1;
                    
                }
            }
            &.internal-spitter{
                & .k-ghost-splitbar-horizontal, .k-splitbar-horizontal{
                    width: 10px;
                    &:hover, &:active{
                        background-color:#00e3d1;
                    }
                }
            }
        }        
        & .tree-wrapper{
            border: 1px solid rgba(33, 37, 41, 0.125);
            // padding: 5px;
            border-top:none;
            border-radius: 0.2rem;
            display: flex;
            flex-direction: column;
            flex:0 1 100%;
            max-height: calc(100% - 33px);
            overflow: auto;
            height:calc(100% - 33px);
        }        
        & .detail-view-tree-table{
            & .ui-treetable-scrollable-body {
                max-height: calc(100vh - 183px) !important;
                height: calc(100vh - 183px) !important;
                overflow-y: scroll !important;
            }
        }
        & .custom-tab{
            & .k-tabstrip-top > .k-tabstrip-items .k-item{
                
            }
        }
    }
}

.kendo-grid-wrapper{
    max-height: calc(100vh - 142px) !important;
    ::ng-deep{
        & .full-height-grid{
            height: 100%;
            overflow: auto;
        }
    }
    @media screen and (max-width:767px){
        max-height: calc(100vh - 116px) !important;        
    }
}
.layout-mode{
    padding: 15px;
    @media screen and (max-width:767px){
        padding: 0;
        ::ng-deep{
            & .card{
                border-radius: 0;
            }
        }
    }
    & > .card .card-body{
        padding: 15px;
    }
}



.dashboard-left{
    padding:15px 0 15px 15px;
    height: 100%; 
    width: 300px;
    flex: 0 0 300px;
    min-width: 300px;
    max-width: 300px;
}
.dashboard-right{    
    padding: 15px 15px 15px 0;
    max-height: calc(100vh - 40px);
    overflow: auto;
    width: 100% !important;
    height: 100%;
    & > .card{
        overflow: auto;
        height:100%;
    }
}
.card-header{
    background: #fff;
    border:none;
    border-radius: 5px 5px 0 0 !important;
}
.card-footer{
    background: #fff;
    border:none;
    border-radius: 0 0 5px 5px !important;
}

.welcome-page{
    align-items: center;
    justify-content: center;
    width: 100%;
}
.welcome-innner{
    background: url("~src/assets/images/auth/bg.jpg") no-repeat;
    width: 100%;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    background-position: center;
    background-size:cover; 
    padding:20px;
    box-shadow: 0 1px 10px 0 rgba(69, 90, 100, 0.08);
}
.app-detail{
    width: 100%;
    max-width: 370px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 5px;
    padding: 25px 40px 20px 40px;
    margin-top: 15px;
    font-size: 9px;
    ::ng-deep{
        & p{
            font-size: 14px;
            font-weight: 600;
            margin-bottom: 5px;
        }
        & small{
            font-size: 12px
        }
        & svg.logo-svg {
            width: 100%;
            height: auto;
        }
    }
}

.restrictedHeight{
    & .ui-treetable-scrollable-body{
        max-height: calc(100vh - 370px) !important;
        height: calc(100vh - 370px) !important;
    }
  }

.dashboard-container{
    display: flex;
    height: 100%;
    flex: 1;
}
.color-code-wrapper{
    position: absolute;
    right: 0px;
    top: 0;
    height: 100%;    
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    z-index: 1;
    background-color: #fff;
    width:0;      
    & .color-code-content{
        position: relative;
        height: 100%;
        width: 0;
        & .color-code-toggle{            
            width: 0;
            & > button{
                background: transparent;
                height: 50px;
                width: 20px;
                border: 1px solid #d5dbe0;
                align-items: center;
                display: flex;
                justify-content: center;
                border-radius: 4px 0 0 4px;
                border-right: 0;
                position: absolute;
                top: 50%;
                transform: translateY(-50%)translateX(-20px);
                background-color: #fff;

            }
        }
        & .color-code-heading{
            width:100%;
            font-weight:600;
            font-size: 12px;
            margin-bottom: 2px;
            padding: 8px 0 5px;
            display: none;
            align-items: center;
            justify-content: center;
        }
        & ul{
            padding: 0;
            margin: 0;
            list-style: none;
            display: none;
            align-items: flex-start;
            justify-content: flex-start;
            flex-wrap: wrap;
            width: 100%;
            max-height:calc(100% - 30px);
            overflow: auto;
            li{
                display: inline-flex;
                align-items: center;
                justify-items: center;   
                padding: 5px 10px;    
                width: 100%;     
                .color-type{
                    font-size: 12px;
                }
                .color-code{
                    width:20px;
                    height:20px;
                    border:1px solid #d5dbe0;
                    margin-right: 5px;
                    &.Delivery{
                        background-color: #aec3f3;
                    }
                    &.JournalEntry{
                        background-color: #d49de2;
                    }
                    &.SalesQuotation{
                        background-color: #ffb1b1;
                    }
                    &.SalesOrder{
                        background-color: #cbb1ff;
                    }
                    &.ReturnRequest{
                        background-color: #ffb8c6;
                    }
                    &.Return{
                        background-color: #f7ed90;
                    }
                    &.ARDownPayment{
                        background-color: #b1fff4;
                    }
                    &.ARInvoice{
                        background-color: #a6e09b;
                    }
                    &.ARCreditMemo{
                        background-color: #9cff9c;
                    }
                    &.PurchaseRequest{
                        background-color: #c8d087;
                    }
                    &.PurchaseReceipt{
                        background-color: #b4f4f4;
                    }
                    &.PurchaseReturn{
                        background-color: #ffdebd;
                    }
                    &.PurchaseInvoice{
                        background-color: #e5bd8b;
                    }
                    &.PurchaseQuotation{
                        background-color: #c0f97d;
                    }
                    &.PurchaseOrder{
                        background-color: #c0c2ce;
                    }
                    &.GoodsReceiptPO{
                        background-color: #ff8b94;
                    }
                    &.GoodsReturnRequest{
                        background-color: #a8e6cf;
                    }
                    &.GoodsReturn{  
                        background-color: #cbdadb;
                    } 
                    &.APDownPaymentInvoice{
                        background-color: #f78484;
                    }
                    &.APInvoice{
                        background-color: #ffb96f;
                    }
                    &.APCreditMemo{
                        background-color: #1fb8b0;
                    }
                    &.Deposit{
                        background-color: #cc737a;;
                    }
                    &.OutgoingPayment{
                        background-color: #fd8b69;
                    }
                    &.GoodsReceipt{
                        background-color: #ffffdb;
                    }
                    &.GoodsIssue{
                        background-color: #80ffda;
                    }
                    &.InventoryTransferRequest {
                        background-color: #c5b6a8;
                    }
                    &.InventoryTransfer{
                        background-color: #6da9ab;
                    }
                    &.InventoryRevaluation{
                        background-color: #5beaf9;
                    }
                    &.ProductionOrder{
                        background-color: #bfaa72;
                    }
                    &.IssueFromProduction{
                        background-color: #ffebe7;
                    }
                    &.ReceiptFromProduction{
                        background-color: #f9e5b7;
                    }
                }
            }
        }
    }
    &.open{
        width: 220px;
        border-left: 1px solid #d5dbe0;
        & .color-code-content{
            width:100%;
        }
        & .color-code-heading, & ul{
            display: flex !important;
        }
        & .color-code-toggle{        
            & > button{
                &>i{
                    &:before{
                        content: "\e92f";
                    }
                }
            }
        }
    } 
}
.flex-100{
    flex:1;
}

/*===== Org Chart css =====*/

.tree {
    width: 300px;
  }
  
  .node-content-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
  }
  
  .node-content-wrapper {
    flex-grow: 1;
    position: relative;
  }
  

div.tree div.tree-children::before,
div.tree::before {
    content: "";
    position: absolute;
    border-left: 1px dotted #23527c;
    height: 100%;
    top: -14px;
    left: 12px
}

div.tree {
    padding-left: 0;
    margin-left: -5px
}

div.tree div.tree-children {
    position: relative;
    padding-left: 0;
    margin-left: 16px
}

div.tree div.tree-children::before {
    left: 5px
}

div.tree tree-node>div>.node-wrapper-box {
    margin-left: 24px
}

div.tree tree-node>div>.node-wrapper-box>.node-content-wrapper {
    margin-left: 4px
}

div.tree tree-node>div.tree-node-leaf>.node-wrapper-box {
    margin-left: 0
}

div.tree tree-node>div::before {
    content: "";
    position: absolute;
    border-bottom: 1px dotted #23527c;
    width: 7px;
    margin-top: 12px;
    left: 7px
}

div.tree tree-node>div .toggle-children-wrapper {
    width: 13px;
    height: 13px;
    border: 1px solid #23527c;
    position: absolute;
    left: 15px;
    margin-top: 5px;
    margin-left: 0;
    display: inline-block;
    background-color: #fff;
    z-index: 1
}

div.tree tree-node>div .toggle-children-wrapper::before {
    content: "";
    display: inline-block;
    width: 7px;
    border-top: 1px solid #23527c;
    position: absolute;
    top: 5px;
    left: 2px
}

div.tree tree-node>div .toggle-children-wrapper.toggle-children-wrapper-collapsed::after {
    content: "";
    display: inline-block;
    height: 7px;
    border-left: 1px solid #23527c;
    position: absolute;
    top: 2px;
    left: 5px
}

div.tree tree-node>div .toggle-children-wrapper .toggle-children {
    display: none
}

div.tree tree-node>div .node-content-wrapper {
    margin-left: 4px
}

div.tree>tree-node>div::before {
    left: 14px
}

div.tree>tree-node>div>.node-wrapper-box>tree-node-expander>.toggle-children-wrapper {
    left: 22px
}


.btn-icon-with-input {
    width: 26px;
    font-size: 14px !important;
    padding: 0 !important;
    line-height: 1px !important;
    border: none !important;
    display: flex !important;
    align-items: center;
    justify-content: center;
    height: 26px;
}
/*===== Org Chart css =====*/


