<kendo-splitter>

  <kendo-splitter-pane [collapsible]="true" size="300px" [resizable]="false" [collapsed]="seachPanelCollapse">
    <div class="dashboard-left" id="dashboard-left">
      <div class="card flex-column" id="selection-criteria-section" fxFlex="0 0 100%">
        <div class="card-header d-flex">
          <svg viewBox="0 0 410.23 410.23" class="icon mr-2 icon-dark" fill="#2a2a2a">
            <use xlink:href="#search"></use>
          </svg>
          <span class="h5 mb-0">{{'SelectionCriteria' | translate}}</span>
          <span class="ml-auto mr-3 d-flex justify-content-center align-items-center timer-wrapper"></span>
        </div>
        <div class="overflow-auto d-flex flex-column" fxFlex="0 1 100%">
          <div id="selection-criteria-body"
            class="justify-content-between flex-direction-column d-flex card-body pb-2 px-3 pt-1">
            <form class="w-100" #criteriaForm="ngForm">
              <fieldset class="form-group px-0 mb-0">
                <label class="custom-radio mr-3">
                  <input #radioExplode1 type="radio" id="radioExplode1" [value]="'Lot Explosion'" name="radioExplode"
                    [(ngModel)]="radioExplode" class="k-radio" [disabled]="vendor" />
                  <span class="radio"></span>
                  <span>{{language.lotexplosion}}</span>
                </label>

                <label class="custom-radio">
                  <input #radioExplode2 type="radio" id="radioExplode2" [value]="'Where Used'" name="radioExplode"
                    [(ngModel)]="radioExplode" class="k-radio" />
                  <span class="radio"></span>
                  <span>{{language.whereused}}</span>
                </label>
              </fieldset>
              <h6 class="border-bottom pb-1 mb-2 d-flex align-items-center">
                <span>{{language.select}}</span>
                <span class="ml-auto">
                  <label class="custom-checkbox mb-0 mr-2 filter-checkbox" for="vendor">
                    <input #chkFilter17 type="checkbox" id="vendor" [(ngModel)]="vendor" class="k-checkbox"
                      (change)="VendorCheck($event)" name="columnfilter" />
                    <span class="checkbox"></span>
                    <span>{{language.Vendor}}</span>
                  </label>
                </span>
              </h6>
              <div class="form-group" [ngStyle]="{'margin-bottom.px': 10}">
                <label for="ItemFrom" class="form-label mb-0">{{'Item' | translate}}</label>
                <div class="w-100">
                  <div class="input-group">
                    <input type="text" name="ItemValue" id="ItemValue" class="form-control form-control-sm"
                      placeholder="{{'Item' | translate}}" #ItemVal=ngModel [(ngModel)]="ItemValue"
                      (blur)="onItemCodeBlur()" required autocomplete="off">
                    <div class="input-group-append">
                      <button type="submit" class="btn btn-primary btn-icon d-flex d-flex" (click)="openItemLookup()">
                        <svg viewBox="0 -96 512 512" class="icon">
                          <use xlink:href="#menu"></use>
                        </svg>
                      </button>
                    </div>
                  </div>
                </div>
                <small id="itemHelp" class="form-text text-muted opti_error-msg text-right"
                  *ngIf="ItemVal.errors?.required && !itemStatus && ItemVal.touched">{{'item_code_req' | translate}}</small>
                <small id="itemHelp" class="form-text text-muted opti_error-msg text-right"
                  *ngIf="itemStatus && ItemVal.touched">{{'correct_item_code' | translate}}</small>
              </div>

              <div class="form-group" [ngStyle]="{'margin-bottom.px': 10}">
                <label for="ItemFrom" class="form-label mb-0">{{'description' | translate}}</label>
                <div class="w-100">
                  <div class="input-group">
                    <input type="text" name="description" id="description" class="form-control form-control-sm"
                      #ItemDes=ngModel [(ngModel)]="ItemDesc" placeholder="{{'description' | translate}}"
                      autocomplete="off">
                  </div>
                </div>
              </div>

              <div class="form-group" [ngStyle]="{'margin-bottom.px': 10}">
                <label for="ItemFrom" class="form-label mb-0">{{'warehouse' | translate}}</label>
                <div class="w-100">
                  <div class="input-group">
                    <input type="text" name="warehouse" id="warehouse" class="form-control form-control-sm"
                      #Whse=ngModel [(ngModel)]="DfltWarehouse" placeholder="{{'warehouse' | translate}}"
                      autocomplete="off">
                    <div class="input-group-append">
                      <button type="submit" class="btn btn-primary btn-icon d-flex d-flex"
                        (click)="openWarehouseLookup()">
                        <svg viewBox="0 -96 512 512" class="icon">
                          <use xlink:href="#menu"></use>
                        </svg>
                      </button>
                    </div>
                  </div>
                </div>
                <small id="emalHelp" class="form-text text-muted text-right opti_error-msg"
                  *ngIf="Whse.errors?.required && !WarehouseStatus && Whse.touched && !showValidation">{{'warehouse_code_req' | translate}}</small>
                <small id="emailHelp" class="form-text text-muted text-right opti_error-msg"
                  *ngIf="WarehouseStatus && Whse.touched && !showValidation">{{'correct_warehouse_code' | translate}}</small>
              </div>

              <div class="form-group" [ngStyle]="{'margin-bottom.px': 10}">
                <label for="inputPassword3" class="form-label mb-0" *ngIf="!vendor">{{language.lot_from}}</label>
                <label for="inputPassword3" class="form-label mb-0" *ngIf="vendor">{{language.vendor_lot_from}}</label>
                <div class="w-100">
                  <div class="input-group">
                    <input type="text" name="DistNumFrom" id="DistNumFrom" class="form-control form-control-sm"
                      #LotF=ngModel [(ngModel)]="DistNumFrom" placeholder="{{'select_lot_from' | translate}}"
                      autocomplete="off">
                    <div class="input-group-append">
                      <button type="button" class="btn btn-primary btn-icon d-flex d-flex"
                        (click)="openLotFromLookup(dialog)" [disabled]="disableLotNumber">
                        <svg viewBox="0 -96 512 512" class="icon">
                          <use xlink:href="#menu"></use>
                        </svg>
                      </button>
                    </div>
                  </div>
                </div>
                <small id="emailHelp" class="form-text text-muted opti_error-msg text-right"
                  *ngIf="LotFromStatus && LotF.touched">{{'correct_lot_from' | translate}}</small>
              </div>

              <div class="form-group" [ngStyle]="{'margin-bottom.px': 10}">
                <label for="inputPassword3" class="form-label mb-0" *ngIf="!vendor">{{language.lot_to}}</label>
                <label for="inputPassword3" class="form-label mb-0" *ngIf="vendor">{{language.vendor_lot_to}}</label>
                <div class="w-100">
                  <div class="input-group">
                    <input type="text" name="DistNumTo" id="DistNumTo" class="form-control form-control-sm"
                      #LotT=ngModel [(ngModel)]="DistNumTo" placeholder="{{'select_lot_to' | translate}}"
                      autocomplete="off">
                    <div class="input-group-append">
                      <button type="submit" class="btn btn-primary btn-icon d-flex d-flex"
                        (click)="openLotToLookup(dialog)" [disabled]="disableLotNumber">
                        <svg viewBox="0 -96 512 512" class="icon">
                          <use xlink:href="#menu"></use>
                        </svg>
                      </button>
                    </div>
                  </div>
                </div>
                <small id="lotToHelp" class="form-text text-muted opti_error-msg text-right"
                  *ngIf="LotToStatus && LotT.touched">{{'correct_lot_to' | translate}}</small>
              </div>
              <fieldset class="form-group px-0">
                <label class="custom-radio mr-3">
                  <input #singleLevel type="radio" id="singleLevel" value="Single Level" name="radioLevel"
                    [(ngModel)]="radioLevel" class="k-radio" />
                  <span class="radio"></span>
                  <span>{{language.single_level}}</span>
                </label>
                <label class="custom-radio">
                  <input #multiLevel type="radio" id="multiLevel" value="Multi Level" name="radioLevel"
                    [(ngModel)]="radioLevel" class="k-radio" />
                  <span class="radio"></span>
                  <span>{{language.multi_level}}</span>
                </label>
              </fieldset>
            </form>
          </div>
        </div>
        <div class="card-footer text-center py-2">
          <button type="button" class="btn btn-primary btn-icon btn-sm px-2" id="process" (click)="GetExplosion($event)"
            [disabled]="!criteriaForm.form.valid || (itemStatus || WarehouseStatus || LotFromStatus || LotToStatus)">
            {{'Process' | translate}}
            <svg viewBox="0 0 24 24" class="icon">
              <use xlink:href="#rightArrow"></use>
            </svg>
          </button>
        </div>
      </div>
    </div>
  </kendo-splitter-pane>

  <kendo-splitter-pane>
    <div class="dashboard-right" [ngClass]="{'default-screen':!gridViewShow}">
      
      <div class="card" fxFlex="0 1 100%">
        <kendo-splitter class="h-100 internal-spitter p-3" orientation="vertical">
          <kendo-splitter-pane [collapsible]="true" size="50%">

            <div class="card-body p-0" id="grid-accordian-body">

              <kendo-splitter class="h-100 internal-spitter">
                <kendo-splitter-pane [collapsible]="true" size="250px">

                  <div class="overflow-auto h-100 pr-1 pb-1">
                    <div class="tree-wrapper">
                      <div class="d-flex w-100 mb-2">
                          <span class="cursor-pointer mr-2 btn btn-success btn-icon-with-input ml-auto" (click)="diffTree.treeModel.expandAll()" title="Expand All">
                              <svg viewBox="0 0 1024 1024" class="icon">
                                  <use xlink:href="#expandAll"></use>
                              </svg>
                          </span>
                          <span class="cursor-pointer btn btn-primary btn-icon-with-input" (click)="diffTree.treeModel.collapseAll()"  title="Collapse All">
                            <svg viewBox="0 0 1024 1024" class="icon">
                                <use xlink:href="#collapseAll"></use>
                            </svg>
                          </span>
                      </div>
                      <tree-root id="tree2" #diffTree [focused]="true" [nodes]="nodes2" (click)="clickTransaction($event)">
                        <ng-template #treeNodeFullTemplate let-node let-index="index" let-templates="templates">
                          <div class="tree-node">
                            <tree-node-expander [node]="node"></tree-node-expander>
                              <div class="node-content-wrapper" *ngIf="explodeDirection == 'DOWN'" [class.node-content-wrapper-active]="node.isActive"
                              [class.node-content-wrapper-focused]="node.isFocused"
                              (click)="node.mouseAction('click', $event)"
                              (dblclick)="node.mouseAction('dblClick', $event)">
                                <span *ngIf="node.data.OPTM_BTCHSERNO != null">{{node.data.OPTM_ITEMCODE}} ~ {{node.data.OPTM_BTCHSERNO }}</span>
                                <span *ngIf="node.data.OPTM_BTCHSERNO == null">{{node.data.OPTM_ITEMCODE}}</span>
                              </div>
                              <div class="node-content-wrapper" *ngIf="explodeDirection == 'UP'" [class.node-content-wrapper-active]="node.isActive"
                              [class.node-content-wrapper-focused]="node.isFocused"
                              (click)="node.mouseAction('click', $event)" (dblclick)="node.mouseAction('dblClick', $event)">
                                  <span *ngIf="node.data.OPTM_PARENTBTCHSERNO != null">{{node.data.OPTM_ITEMCODE}} ~ {{node.data.OPTM_PARENTBTCHSERNO }}</span>
                                  <span *ngIf="node.data.OPTM_PARENTBTCHSERNO == null">{{node.data.OPTM_ITEMCODE}}</span>
                                </div>
                            <tree-node-children [node]="node" [templates]="templates"></tree-node-children>
                          </div>
                        </ng-template>
                      </tree-root>
                    </div>
                  </div>

                </kendo-splitter-pane>

                <kendo-splitter-pane>

                  <div class="pl-1 pb-1 overflow-auto h-100 d-flex flex-column">
                    <div class="clearfix">
                      <div class="col-12 p-0">
                        <label class="custom-radio mr-3">
                          <input #singleLevel type="radio" id="singleLevel" value="ParentLot" name="radioTransaction"
                            [(ngModel)]="radioTransaction" class="k-radio" (change)="getTransactionRadioClick($event)" />
                          <span class="radio"></span>
                          <span>{{language.show_parent_lot}}</span>
                        </label>
                        <label class="custom-radio">
                          <input #multiLevel type="radio" id="multiLevel" value="ImmediateLot" name="radioTransaction"
                            [(ngModel)]="radioTransaction" class="k-radio" (change)="getTransactionRadioClick($event)" />
                          <span class="radio"></span>
                          <span>{{language.show_immediate_lot}}</span>
                        </label>
                      </div>
                    </div>

                    <div class="card mb-0 no-shadow-card flex-100 h-100 overflow-auto">
                      <div class="card-header px-2 py-1 border-bottom d-flex align-items-center">
                        <span class="h6 m-0">Transaction Type</span>
                        <span class="cursor-pointer mr-2 btn btn-success btn-icon-with-input ml-auto" status="success" (click)="diffTree2.treeModel.expandAll()" title="Expand All">
                          <svg viewBox="0 0 1024 1024" class="icon">
                              <use xlink:href="#expandAll"></use>
                          </svg>
                        </span>
                        <span class="cursor-pointer btn btn-primary btn-icon-with-input" (click)="diffTree2.treeModel.collapseAll()"  title="Collapse All">
                          <svg viewBox="0 0 1024 1024" class="icon">
                              <use xlink:href="#collapseAll"></use>
                          </svg>
                        </span>
                      </div>
                      <div class="card-body p-2 d-flex flex-column h-100">
                        <tree-root id="tree2" #diffTree2 [focused]="true" class="flex-100 overflow-auto" [nodes]="nodes1" (click)="clickTransactionDetails($event)">
                            <ng-template #treeNodeFullTemplate let-node let-index="index" let-templates="templates">
                              <div class="tree-node">
                                <tree-node-expander [node]="node"></tree-node-expander>
                                <div class="node-content-wrapper" *ngIf="node.data.ObjectTypeDesc == null" [class.node-content-wrapper-active]="node.isActive"
                                [class.node-content-wrapper-focused]="node.isFocused"
                                (click)="node.mouseAction('click', $event)"
                                (dblclick)="node.mouseAction('dblClick', $event)">
                                    <span>{{node.data.ItemCode}} ~ {{node.data.DistNumber}}</span>
                                  </div>
                                  <div class="node-content-wrapper" *ngIf="node.data.ObjectTypeDesc != null" [class.node-content-wrapper-active]="node.isActive"
                                  [class.node-content-wrapper-focused]="node.isFocused"
                                  (click)="node.mouseAction('click', $event)"
                                  (dblclick)="node.mouseAction('dblClick', $event)">
                                    <span>({{node.data.DistNumber}}) {{language.Doc_Entry}}:{{node.data.DocEntry}} ~ {{node.data.ObjectTypeDesc}}</span>
                                  </div>
                                <tree-node-children [node]="node" [templates]="templates"></tree-node-children>
                              </div>
                            </ng-template>
                          </tree-root>
                      </div>
                    </div>
                  </div>

                </kendo-splitter-pane>

              </kendo-splitter>
            </div>

          </kendo-splitter-pane>

          <kendo-splitter-pane [collapsible]="true" class="pt-1">

            <div class="card w-100 h-100 no-shadow-card">
              <div id="analysis-accordian-body" class="card-body p-2">

                <div id="chart-container" class="overflow-auto h-100 w-100 d-flex position-relative"></div>

                <div class="color-code-wrapper" id="color-code-wrapper">
                  <div class="color-code-content">
                    <div class="color-code-toggle">
                      <button type="button" (click)="colorCodeWrapperToggle($event)">
                        <svg viewBox="0 0 451.846 451.847" class="icon colorCodeWrapperToggle-icon">
                            <use xlink:href="#caretLeft"></use>
                        </svg>
                      </button>
                    </div>
                    <div class="color-code-heading">Color scheme</div>
                    <ul class="list-unstyled">
                      <li>
                        <span class="color-code JournalEntry"></span>
                        <span class="color-type">Journal Entry</span>
                      </li>
                      <li>
                        <span class="color-code SalesQuotation"></span>
                        <span class="color-type">Sales Quotation</span>
                      </li>
                      <li>
                        <span class="color-code SalesOrder"></span>
                        <span class="color-type">Sales Order</span>
                      </li>
                      <li>
                        <span class="color-code Delivery"></span>
                        <span class="color-type">Delivery </span>
                      </li>
                      <li>
                        <span class="color-code ReturnRequest"></span>
                        <span class="color-type">Return Request</span>
                      </li>
                      <li>
                        <span class="color-code Return"></span>
                        <span class="color-type">Return</span>
                      </li>
                      <li>
                        <span class="color-code ARDownPayment"></span>
                        <span class="color-type">AR Down Payment</span>
                      </li>
                      <li>
                        <span class="color-code ARCreditMemo"></span>
                        <span class="color-type">AR Credit Memo</span>
                      </li>
                      <li>
                        <span class="color-code ARInvoice"></span>
                        <span class="color-type">AR Invoice</span>
                      </li>
                      <li>
                        <span class="color-code PurchaseRequest"></span>
                        <span class="color-type">Purchase Request</span>
                      </li>
                      <li>
                        <span class="color-code PurchaseQuotation"></span>
                        <span class="color-type">Purchase Quotation</span>
                      </li>
                      <li>
                        <span class="color-code PurchaseOrder"></span>
                        <span class="color-type">Purchase_Order</span>
                      </li>
                      <li>
                        <span class="color-code GoodsReceiptPO"></span>
                        <span class="color-type">Goods Receipt PO</span>
                      </li>
                      <li>
                        <span class="color-code GoodsReturnRequest"></span>
                        <span class="color-type">Goods Return Request</span>
                      </li>
                      <li>
                        <span class="color-code GoodsReturn"></span>
                        <span class="color-type">Goods Return</span>
                      </li>
                      <li>
                        <span class="color-code APDownPaymentInvoice"></span>
                        <span class="color-type">AP DownPayment Invoice</span>
                      </li>
                      <li>
                        <span class="color-code APInvoice"></span>
                        <span class="color-type">AP Invoice</span>
                      </li>
                      <li>
                        <span class="color-code APCreditMemo"></span>
                        <span class="color-type">AP Credit Memo</span>
                      </li>
                      <li>
                        <span class="color-code Deposit"></span>
                        <span class="color-type">Deposit</span>
                      </li>
                      <li>
                        <span class="color-code OutgoingPayment"></span>
                        <span class="color-type">Outgoing Payment</span>
                      </li>
                      <li>
                        <span class="color-code GoodsReceipt"></span>
                        <span class="color-type">Goods_Receipt</span>
                      </li>
                      <li>
                        <span class="color-code GoodsIssue"></span>
                        <span class="color-type">Goods Issue</span>
                      </li>
                      <li>
                        <span class="color-code InventoryTransferRequest"></span>
                        <span class="color-type">Inventory Transfer Request</span>
                      </li>
                      <li>
                        <span class="color-code InventoryTransfer"></span>
                        <span class="color-type">Inventory Transfer</span>
                      </li>
                      <li>
                        <span class="color-code InventoryRevaluation"></span>
                        <span class="color-type">Inventory Revaluation</span>
                      </li>
                      <li>
                        <span class="color-code ProductionOrder"></span>
                        <span class="color-type">Production Order</span>
                      </li>
                      <li>
                        <span class="color-code IssueFromProduction"></span>
                        <span class="color-type">Issue from Production</span>
                      </li>
                      <li>
                        <span class="color-code ReceiptFromProduction"></span>
                        <span class="color-type">Receipt from Production</span>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </kendo-splitter-pane>
        </kendo-splitter>
      </div>

      <div class="welcome-page" fxLayout="column" fxFlex="0 0 100%" *ngIf="!gridViewShow">
        <div class="welcome-innner" fxLayout="column" fxFlex="0 0 100%">
          <div class="app-detail text-center">
            <div class="welcome-logo mx-auto" title="OptiProERP - RCCP">
              <svg viewBox="0 0 360.6 52.8" class="logo-svg">
                <use xlink:href="#optiproDashboardLogoColored"></use>
              </svg>
            </div>
            <div class="mt-3">
              <p>Version</p>
              <small>Copyright 2000-2019. All rights reserved.</small>
            </div>
          </div>
        </div>
      </div>

    </div>
  </kendo-splitter-pane>
</kendo-splitter>


<kendo-dialog *ngIf="opened" (close)="close()" [minWidth]="250" [width]="450">
  <kendo-dialog-titlebar>{{lookUpHeading}}</kendo-dialog-titlebar>
  <div *ngIf="Item">
    <kendo-grid [kendoGridBinding]="gridData" [filterable]=isColumnFilter15 [selectable]="true"
      [rowSelected]="isItemCodeSelected" [sort]="state.sort" [filter]="state.filter" [resizable]="true"
      (selectionChange)="gridRowSelectionChange($event, ref)" [ngStyle]="{ 'cursor': 'pointer', 'max-height':'290px'}">
      <ng-template kendoGridToolbarTemplate>
        <div class="d-flex align-items-center">
          <label class="custom-checkbox mb-0 mr-2 filter-checkbox">
            <input #chkFilter15 type="checkbox" (change)="onFilterChange(chkFilter15,gridData)"
              id="opti_SalesOrderListColumnFilterID15" [(ngModel)]="isColumnFilter15" class="k-checkbox"
              name="columnfilter" />
            <span class="checkbox"></span>
            <span>{{'EnableFilter' | translate}}</span>
          </label>
        </div>
      </ng-template>
      <kendo-grid-column field="ItemCode" title="{{language.item_code}}" width="80">
      </kendo-grid-column>
      <kendo-grid-column field="ItemName" title="{{language.description}}" width="80">
      </kendo-grid-column>
    </kendo-grid>
  </div>

  <div *ngIf="whse">
    <kendo-grid [kendoGridBinding]="gridData" [filterable]=isColumnFilter16 [selectable]="true"
      [rowSelected]="wareHouseSelected" [sort]="state.sort" [filter]="state.filter" [resizable]="true"
      (selectionChange)="gridRowSelectionChange($event,ref)" [ngStyle]="{ 'cursor': 'pointer', 'max-height':'290px' }">
      <ng-template kendoGridToolbarTemplate>
        <div class="d-flex align-items-center">
          <label class="custom-checkbox mb-0 filter-checkbox">
            <input #chkFilter16 type="checkbox" (change)="onFilterChange(chkFilter16,gridData)"
              id="opti_SalesOrderListColumnFilterID16" [(ngModel)]="isColumnFilter16" class="k-checkbox"
              name="columnfilter" />
            <span class="checkbox"></span>
            <span>{{'EnableFilter' | translate}}</span>
          </label>
        </div>
      </ng-template>
      <kendo-grid-column field="WhsCode" title="{{language.warehouse_code}}" width="80">
      </kendo-grid-column>
      <kendo-grid-column field="WhsName" title="{{language.description}}" width="80">
      </kendo-grid-column>
    </kendo-grid>
  </div>

  <div *ngIf="LotFrom || LotTo">
    <kendo-grid [kendoGridBinding]="gridData" [filterable]=isColumnFilter17 [selectable]="true"
      [rowSelected]="lotSelected" [sort]="state.sort" [filter]="state.filter" [resizable]="true"
      (selectionChange)="gridRowSelectionChange($event,ref)" [ngStyle]="{ 'cursor': 'pointer', 'max-height':'290px' }">
      <ng-template kendoGridToolbarTemplate>
        <div class="d-flex align-items-center">
          <label class="custom-checkbox mb-0 mr-2 filter-checkbox">
            <input #chkFilter17 type="checkbox" (change)="onFilterChange(chkFilter17,gridData)"
              id="opti_SalesOrderListColumnFilterID17" [(ngModel)]="isColumnFilter17" class="k-checkbox"
              name="columnfilter" />
            <span class="checkbox"></span>
            <span>{{'EnableFilter' | translate}}</span>
          </label>
        </div>
      </ng-template>
      <kendo-grid-column *ngIf="!vendor" field="DistNumber" title="{{language.serial_batch_no}}" width="80">
      </kendo-grid-column>
      <kendo-grid-column *ngIf="vendor" field="MnfSerial" title="{{language.vendor_serial_batch_no}}" width="80">
      </kendo-grid-column>
      <kendo-grid-column field="ItemCode" title="{{language.item_code}}" width="80">
      </kendo-grid-column>
    </kendo-grid>
  </div>
  <kendo-dialog-actions class="p-2 align-items-end">
    <button class="btn btn-danger btn-sm d-flex align-items-center" type="button" (click)="close()">
      <svg viewBox="0 0 489 489" class="icon mr-2">
        <use xlink:href="#cancel"></use>
      </svg> {{language.close}}
    </button>
  </kendo-dialog-actions>
</kendo-dialog>