<div *ngIf="EnableLoader" class="k-i-loading"></div>
<div class="example-wrapper" *ngIf="WarehouseData">
  <kendo-dialog title="{{'Warehouse' | translate}}" (close)="close()" [minWidth]="250" [width]="450">
    <kendo-grid [kendoGridBinding]="WarehouseData" [filterable]=isColumnFilter [selectable]="true" [sortable]="true"
      [resizable]="true" [rowSelected]="isWarehouseCodeSelected" (selectionChange)="gridRowSelectionChange($event,ref)"
      [ngStyle]="{ 'cursor': 'pointer', 'max-height':'290px'}">
      <ng-template kendoGridToolbarTemplate>
        <div class="d-flex align-items-center">
          <!-- show hide column start show hide -->
          <!-- <kendo-grid-column-chooser class="float-left opti_hide-in-mobile"></kendo-grid-column-chooser> -->

          <!-- checkbox -->
          <label class="custom-checkbox mb-0 mr-2 filter-checkbox">
            <input type="checkbox" [(ngModel)]="isColumnFilter" [ngModelOptions]="{standalone: true}">
            <span class="checkbox"></span>
            <span>{{language.EnableFilter}}</span>
          </label>
          <!-- export -->
          <button type="button" kendoGridExcelCommand title="{{language.ExportToExcel}}"
            class="ml-auto btn btn-link btn-sm btn-icon p-0">
            <svg viewBox="0 0 512 512" class="icon">
              <use xlink:href="#download"></use>
            </svg>
          </button>
        </div>
      </ng-template>
      <kendo-grid-column field="WhsCode" title="{{language.WarehouseCode}}" width="80">
      </kendo-grid-column>
      <kendo-grid-column field="WhsName" title="{{language.WarehouseName}}" width="80">
      </kendo-grid-column>
    </kendo-grid>
    <kendo-dialog-actions class="p-2 align-items-end">
      <button class="btn btn-danger btn-sm d-flex align-items-center" type="button" (click)="close()"> 
          <svg viewBox="0 0 489 489" class="icon mr-2">
              <use xlink:href="#cancel"></use>
          </svg> {{language.Cancel}}
      </button>
    </kendo-dialog-actions>
  </kendo-dialog>
</div>