:host{
    display: flex;
    flex:0 0 100%;
    width:100%;
    max-width: 100%;
    ::ng-deep{
        & ng-gantt{
            display: flex;
            flex:0 0  100%;
            max-width: 100%;
            width:100%;
            & > div{
                display: flex;
                flex:0 0  100%;
                max-width: 100%;
                width:100%;
                overflow: auto;
            }
        }
    }
}
