:host{
    flex: 1 1 100%;
    display: flex;
    overflow: auto;
    flex-direction: row;
}


.kendo-grid-wrapper{
    max-height: calc(100vh - 142px) !important;
    ::ng-deep{
        & .full-height-grid{
            height: 100%;
            overflow: auto;
        }
    }
    @media screen and (max-width:767px){
        max-height: calc(100vh - 116px) !important;        
    }
}
.layout-mode{
    padding: 15px;
    @media screen and (max-width:767px){
        padding: 0;
        ::ng-deep{
            & .card{
                border-radius: 0;
            }
        }
    }
    & > .card .card-body{
        padding: 15px;
    }
}


.dashboard-left{
    padding:15px 7px 15px 15px;
    height: 100%; 
    width: 300px;
    flex: 1 1 265px;
    flex: 1 1 265px;
    min-width: 300px;
    max-width: 300px;
    & > nb-card{
        height:100%;
        & > nb-card-header{
            align-items: center;
            justify-content: flex-start;
            & > span{
                &:first-of-type{
                    line-height: 1px;
                    margin-right: 10px;
                }
            }
        }
    }
    &.shrink{
        width: 36px; 
        flex: 1 1 36px;   
        & > nb-card{
            & > nb-card-header{
                transform: rotateZ(-90deg) translateX(-150px) translateY(2px);
                transform-origin: left top;
                white-space: nowrap;
                width: 156px;
                border-bottom: none !important;
                & > span{
                    margin-right: 0;
                    order:1;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    &:first-of-type{
                        margin-right: 10px;
                    }                    
                }
                & > .optipro-icon-arrow-left{
                    margin-right: 0;
                    transform: rotateZ(270deg);
                    display: block;
                    margin-left: 0 !important;
                } 
                & > svg{
                    order:2;
                    transform: rotateZ(90deg);
                }
                & > .timer-wrapper{
                    display: none !important;
                }
            }
            & > nb-card-footer{
                display: none;
            }
        }
        & + .dashboard-right{
            max-width: calc(100% - 36px);
        }
    }
}
.dashboard-right{    
    padding: 15px 15px 15px 7px;
    max-height: calc(100vh - 40px);
    overflow: auto;
    width: 100%;
    height: 100%;
    & > .card{
        overflow: auto;
    }
}
.card-header{
    background: #fff;
    border:none;
    border-radius: 5px 5px 0 0 !important;
}
.card-footer{
    background: #fff;
    border:none;
    border-radius: 0 0 5px 5px !important;
}

.welcome-page{
    align-items: center;
    justify-content: center;
    width: 100%;
}
.welcome-innner{
    background: url("~src/assets/images/auth/bg.jpg") no-repeat;
    width: 100%;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    background-position: center;
    background-size:cover; 
    box-shadow: 0 1px 10px 0 rgba(69, 90, 100, 0.08);
}
.app-detail{
    width: 100%;
    max-width: 370px;
    background-color: rgba(255,255,255,0.2);
    color:#fff;
    border-radius: 5px;
    padding: 30px;
    margin-top: 15px;
    ::ng-deep{
        & p{
            font-size: 18px
        }
        & small{
            font-size: 12px
        }
    }
}

.k-i-loading {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    font-size: 64px;
    background-color: rgba(255,255,255,.3);
    color: #ff6757;
  }
