<div class="dashboard-left" id="dashboard-left">
    <div class="card" accent="primary" id="selection-criteria-section" fxFlex="100%">
        <div class="card-header border-bottom d-flex">
            <svg viewBox="0 0 410.23 410.23" class="icon mr-2 icon-dark"  fill="#2a2a2a">
                <use xlink:href="#search"></use>
            </svg>
            <span>Selection Criteria</span>
            <span class="ml-auto mr-3 d-flex justify-content-center align-items-center timer-wrapper "></span>
            <span class="optipro-icon-arrow-left cursor-pointer mr-1 d-flex"></span>
        </div> 
        <div id="selection-criteria-body" class="justify-content-between flex-direction-column d-flex card-body pb-2 px-3 pt-3">
            <div class="row">
                <div class="col-sm-12">
                    <form>
                        <div class="form-group">
                            <label for="ItemFrom" class="form-label">Item From</label>
                            <div class="w-100">
                                <div class="input-group">
                                <input nbInput fieldSize="small" type="text" name="ItemCodeFrom" id="ItemCodeFrom"
                                      class="form-control" #ItemCF=ngModel [(ngModel)]="ItemCodeFrom" placeholder="Item From" autocomplete="off">
                                <div class="input-group-append">
                                <button type="submit" class="btn btn-primary btn-icon-with-input" (click)="openItemCodeFromLookup()" nbButton size="xsmall">
                                    <i class="optipro-icon-hamburger"></i>
                                </button>
                                </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="ItemFrom" class="form-label">Item To</label>
                            <div class="w-100">
                                <div class="input-group">
                                <input nbInput fieldSize="small" type="text" name="ItemCodeTo" id="ItemCodeTo" 
                                   class="form-control"  #ItemCT=ngModel [(ngModel)]="ItemCodeTo" placeholder="Item To" autocomplete="off">
                                <div class="input-group-append">
                                    <button type="submit" class="btn btn-primary btn-icon-with-input" (click)="openItemCodeToLookup()" nbButton size="xsmall">
                                        <i class="optipro-icon-hamburger"></i>
                                    </button>
                                </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="WarehouseFrom" class="form-label">Warehouse From</label>
                            <div class="w-100">
                                <div class="input-group">
                                <input nbInput fieldSize="small" type="text" name="WarehouseFrom" id="WarehouseFrom" 
                                   class="form-control"  #WarehouseCF=ngModel [(ngModel)]="WarehouseFrom" placeholder="Warehouse From" autocomplete="off">
                                <div class="input-group-append">
                                    <button type="submit" class="btn btn-primary btn-icon-with-input" (click)="openWarehouseFromLookup()" nbButton size="xsmall">
                                        <i class="optipro-icon-hamburger"></i>
                                    </button>
                                </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="WarehouseTo" class="form-label">Warehouse To</label>
                            <div class="w-100">
                                <div class="input-group">
                                <input nbInput fieldSize="small" type="text" name="WarehouseTo" id="WarehouseTo" 
                                   class="form-control"  #WarehouseCT=ngModel [(ngModel)]="WarehouseTo" placeholder="Warehouse To" autocomplete="off">
                                <div class="input-group-append">
                                    <button type="submit" class="btn btn-primary btn-icon-with-input" (click)="openWarehouseToLookup()" nbButton size="xsmall">
                                        <i class="optipro-icon-hamburger"></i>
                                    </button>
                                </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="WarehouseTo" class="form-label">Primary</label>
                            <div class="w-100">
                                <div class="input-group">
                                <input type="checkbox" [checked]="myVar1" (change)="onChange($event)" /> 
                                </div>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div> 
        <div class="card-footer text-center py-2">
            <button type="submit" (click)="processData()" nbButton class="btn btn-primary btn-with-icon-right btn-sm" id="process" size="small">
                Process 
                <svg viewBox="0 0 24 24" class="icon">
                    <use xlink:href="#rightArrow"></use>
                </svg>
            </button>
        </div>
    </div>    
</div>
<app-item-code-lookup *ngIf="lookupStatus" (lookupEvent)="lookupEventHander($event)" (itemCodeEvent)="itemCodeEventHander($event)"></app-item-code-lookup>
<app-warehouse-code-lookup *ngIf="WarehouseStatus" (warehouseEvent)="warehouseEventHander($event)" (warehouseCodeEvent)="warehouseCodeEventHander($event)"></app-warehouse-code-lookup>
<app-bom-grid-view *ngIf="bomGrid" [gridDataEvent]="gridData" [primaryEvent]="IsPrimary"></app-bom-grid-view>
  