<div class="simple-grid-view" *ngIf="gridData">
  <div class="h5 mb-2">{{'SimpleGrid' | translate}}</div>
  <kendo-grid [kendoGridBinding]="gridData" [selectable]="true" [resizable]="true" [groupable]=isColumnGroup [filterable]=isColumnFilter [sortable]="true"
    (selectionChange)="simpleGridRowSelect($event)" [ngStyle]="{ 'cursor': 'pointer'}" height="171">
    <ng-template kendoGridToolbarTemplate>
        <div class="d-flex align-items-center">        
            <label class="custom-checkbox mb-0 mr-3 filter-checkbox">
                <input type="checkbox" [(ngModel)]="isColumnFilter" [ngModelOptions]="{standalone: true}">
                <span class="checkbox"></span>
                <span>{{'EnableFilter' | translate}}</span>
            </label>
            <!-- export -->
            <button type="button" kendoGridExcelCommand title="{{'ExportToExcel' | translate}}"
                class="ml-auto btn btn-link btn-sm btn-icon p-0">
                <svg viewBox="0 0 512 512" class="icon">
                    <use xlink:href="#download"></use>
                </svg>
            </button>
        </div>
    </ng-template>
  
    <kendo-grid-column field="U_O_ITEMCODE" title="{{'ProductNumber' | translate}}" width="80" class="text-left" headerClass="text-left"></kendo-grid-column>
    <kendo-grid-column field="U_O_DESC" title="{{'Description' | translate}}" width="80" class="text-left" headerClass="text-left"></kendo-grid-column>
    <kendo-grid-column field="U_O_BOM_SEQ" title="{{'BOMSequence' | translate}}" width="80" class="text-right" headerClass="text-right"></kendo-grid-column>
    <kendo-grid-column field="U_O_REVISION" title="{{'Revision' | translate}}" width="80" class="text-right" headerClass="text-right"></kendo-grid-column>
    <kendo-grid-column field="TYPE" title="{{'Type' | translate}}" width="80" class="text-right" headerClass="text-right"></kendo-grid-column>
    <kendo-grid-column field="EFFECTIVEDATE" title="{{'EffectiveDate' | translate}}" width="80" class="text-right" headerClass="text-right"></kendo-grid-column> 
    <kendo-grid-column field="U_O_WHSECODE" title="{{'Warehouse' | translate}}" width="80" class="text-right" headerClass="text-right"></kendo-grid-column>
    <kendo-grid-column field="U_O_QUANTITY" title="{{'BOMQuantity' | translate}}" width="80" class="text-right" headerClass="text-right"></kendo-grid-column> 
    <kendo-grid-column field="U_O_UOM" title="{{'UOM' | translate}}" width="80" class="text-left" headerClass="text-left"></kendo-grid-column>  
    <kendo-grid-column field="BOMTYPE" title="{{'BOMType' | translate}}" width="80" class="text-right" headerClass="text-right"></kendo-grid-column>   
    <!-- xlsx template start -->
    <kendo-grid-excel fileName="grid-view.xlsx"></kendo-grid-excel>
    <!-- xlsx template end -->
  </kendo-grid>
</div>


<div class="detail-grid-wrapper d-flex" *ngIf="files2">
  <div *ngIf="detailGridEnableLoader" class="k-i-loading"></div>
  <div class="dashboard-detail-grid pr-3" *ngIf="files2">
    <div class="h5 mb-2">{{'DetailGrid' | translate}}</div>
    <div class="tree-wrapper">
      <div class="content-section implementation restrictedHeight">
        <p-treeTable [value]="files2" selectionMode="single" [scrollable]="true" scrollHeight="100%"
          [resizableColumns]="true" columnResizeMode="expand" height="200">
          <ng-template pTemplate="colgroup">
            <colgroup>
              <col style="width: 120px;">
            </colgroup>
          </ng-template>
          <ng-template pTemplate="header">
            <tr>
              <th ttResizableColumn>{{'Item' | translate}}</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-rowNode let-node="node" let-rowNodeIndex="rowNodeIndex"
            let-rowData="rowData">
            <tr [ttRow]="rowNode" [ttSelectableRow]="rowNode">
              <td>
                <div class="d-flex align-items-center">
                  <p-treeTableToggler [rowNode]="rowNode" class="cursor-pointer"></p-treeTableToggler>
                  <span class="cursor-pointer d-flex w-100" (click)="DetailGridRowSelect(node)">{{rowData.U_O_ITEMCODE}}</span>
                </div>
              </td>
            </tr>
          </ng-template>
        </p-treeTable>
      </div>
    </div>
  </div>

  <div class="bom-detail-grid" fxFlex="100%">
    <div *ngIf="BomDetail">
      <div class="h5 mb-2">{{'BOMDetail' | translate}}</div>
      <kendo-grid [kendoGridBinding]="BomDetail"  [loading]="BOMEnableLoader" [selectable]="true" [resizable]="true" [groupable]=isColumnGroup2 [filterable]=isColumnFilter2 [sortable]="true"
        (cellClick)="OnSelectBOMDetail($event)" [ngStyle]="{ 'cursor': 'pointer'}" height="187">
        <ng-template kendoGridToolbarTemplate>
            <div class="d-flex align-items-center">        
                <label class="custom-checkbox mb-0 mr-3 filter-checkbox">
                    <input type="checkbox" [(ngModel)]="isColumnFilter2" [ngModelOptions]="{standalone: true}">
                    <span class="checkbox"></span>
                    <span>{{'EnableFilter' | translate}}</span>
                </label>
                
                <!-- export -->
                <button type="button" kendoGridExcelCommand title="{{'ExportToExcel' | translate}}"
                    class="ml-auto btn btn-link btn-sm btn-icon p-0">
                    <svg viewBox="0 0 512 512" class="icon">
                        <use xlink:href="#download"></use>
                    </svg>
                </button>
            </div>
        </ng-template>
        <kendo-grid-column field="BOMLINE_ITEMCODE" title="{{'BOMItemCode' | translate}}" width="80"></kendo-grid-column>
        <kendo-grid-column field="U_O_DESC" title="{{'Description' | translate}}" width="80"></kendo-grid-column>
        <kendo-grid-column field="BOM_QUANTITY" title="{{'BOMQuantity' | translate}}" width="80" class="text-right" headerClass="text-right"></kendo-grid-column>
        <kendo-grid-column field="U_O_UOM" title="{{'UOM' | translate}}" width="80"></kendo-grid-column>
        <kendo-grid-column field="U_O_BASIS_CODE" title="{{'ItemBasis' | translate}}" width="80"></kendo-grid-column>
        <kendo-grid-column field="U_O_EFF_FROM_DATE" title="{{'EffectiveFromDate' | translate}}" width="80"></kendo-grid-column>
        <kendo-grid-column field="U_O_EFF_TO_DATE" title="{{'EffectiveToDate' | translate}}" width="80"></kendo-grid-column>
        <kendo-grid-column field="U_O_ISSUE_METHOD" title="{{'IssueMethod' | translate}}" width="80"></kendo-grid-column>
        <kendo-grid-column field="U_O_ISSUE_WHSE" title="{{'WarehouseIssue' | translate}}" width="80" class="text-right" headerClass="text-right"></kendo-grid-column>
        <kendo-grid-column field="U_O_BIN" title="{{'BinIssue' | translate}}" width="80"></kendo-grid-column>
        <kendo-grid-column field="U_O_OPERATION" title="{{'OperationNumber' | translate}}" width="80" class="text-right" headerClass="text-right"></kendo-grid-column>
        <kendo-grid-column field="U_O_COST_ROLLUP" title="{{'CostRollUp' | translate}}" width="80"></kendo-grid-column>
        <kendo-grid-column field="U_OPTM_ECONO" title="{{'ECO' | translate}}" width="80"></kendo-grid-column>
        <kendo-grid-column field="U_OPTM_COMMENTS" title="{{'Comments' | translate}}" width="80"></kendo-grid-column>
        <kendo-grid-column field="U_OPTM_ATTACHMENT" title="{{'Attachments' | translate}}" width="80"></kendo-grid-column>
        <!-- xlsx template start -->
        <kendo-grid-excel fileName="BOM-Detail.xlsx"></kendo-grid-excel>
        <!-- xlsx template end -->
      </kendo-grid>
    </div>
  </div>
</div>

<div class="d-flex mt-3" fxFlex fxLayout="column" *ngIf="RoutingHeaderDetail">
  <div class="h5 mb-2">{{'RoutingHeader' | translate}}</div>
  <kendo-grid [kendoGridBinding]="datas"  [loading]="RoutingHeaderEnableLoader" [height]="330" [navigable]="true" [resizable]="true" [groupable]=isColumnGroup3 [filterable]=isColumnFilter3 [sortable]="true"
   [ngStyle]="{ 'cursor': 'pointer'}" kendoGridFocusable>
    <ng-template kendoGridToolbarTemplate>
        <div class="d-flex align-items-center">        
            <label class="custom-checkbox mb-0 mr-3 filter-checkbox">
                <input type="checkbox" [(ngModel)]="isColumnFilter3" [ngModelOptions]="{standalone: true}">
                <span class="checkbox"></span>
                <span>{{'EnableFilter' | translate}}</span>
            </label>
        
            <!-- export -->
            <button type="button" kendoGridExcelCommand title="{{'ExportToExcel' | translate}}"
                class="ml-auto btn btn-link btn-sm btn-icon p-0">
                <svg viewBox="0 0 512 512" class="icon">
                    <use xlink:href="#download"></use>
                </svg>
            </button>
        </div>
    </ng-template>
    <kendo-grid-column field="U_O_ROUT_SEQ" title="{{'RoutingSequence' | translate}}" width="80" class="text-right" headerClass="text-right"></kendo-grid-column>
    <kendo-grid-column field="U_O_REVI_NO" title="{{'RoutingRevision' | translate}}" width="80" class="text-right" headerClass="text-right"></kendo-grid-column>
    <kendo-grid-column field="ROUTTYPE" title="{{'RoutingType' | translate}}" width="80"></kendo-grid-column>
    <kendo-grid-column field="U_O_REVI_EFF_DATE" title="{{'EffectiveDate' | translate}}" width="80"></kendo-grid-column>
    <kendo-grid-column field="U_O_FG_WH_ID" title="{{'Warehouse' | translate}}" width="80" class="text-right" headerClass="text-right"></kendo-grid-column>
    <kendo-grid-column field="U_O_DFLT_LOT_SIZE" title="{{'DefaultBatchSize' | translate}}" width="80" class="text-right" headerClass="text-right"></kendo-grid-column>
    <kendo-grid-column field="U_OPTM_APCLBLBOMUNIT" title="{{'ApplicableBOMUnit' | translate}}" width="80" class="text-right" headerClass="text-right"></kendo-grid-column>
    <div *kendoGridDetailTemplate="let dataItem">
      <div class="h5 mb-2">{{'RoutingLine' | translate}}</div>
      <kendo-grid [kendoGridBinding]="dataItem.LineDetail" [navigable]="true" [resizable]="true" [resizable]="true" [groupable]=isColumnGroup4 [filterable]=isColumnFilter4 [sortable]="true"
        [ngStyle]="{ 'cursor': 'pointer'}" kendoGridFocusable>
        <ng-template kendoGridToolbarTemplate>
          <div class="d-flex align-items-center">        
              <label class="custom-checkbox mb-0 mr-3 filter-checkbox">
                  <input type="checkbox" [(ngModel)]="isColumnFilter4" [ngModelOptions]="{standalone: true}">
                  <span class="checkbox"></span>
                  <span>{{'EnableFilter' | translate}}</span>
              </label>
              <!-- export -->
              <button type="button" kendoGridExcelCommand title="{{'ExportToExcel' | translate}}"
                  class="ml-auto btn btn-link btn-sm btn-icon p-0">
                  <svg viewBox="0 0 512 512" class="icon">
                      <use xlink:href="#download"></use>
                  </svg>
              </button>
          </div>
        </ng-template>
        <kendo-grid-column field="Code" title="{{'OperationNumber' | translate}}" width="40" class="text-right" headerClass="text-right">
        </kendo-grid-column>
        <kendo-grid-column field="OPERATIONCODE" title="{{'OperationCode' | translate}}" width="80">
        </kendo-grid-column>
        <kendo-grid-column field="OPERATIONTYPE" title="{{'OperationType' | translate}}" width="80">
        </kendo-grid-column>
        <kendo-grid-column field="U_O_OPR_DESC" title="{{'OperationDescription' | translate}}" width="80">
        </kendo-grid-column>
        <kendo-grid-column field="RESCNSMETHOD" title="{{'ResConsumptionMethod' | translate}}" width="80">
        </kendo-grid-column>
        <kendo-grid-column field="PARALLELOPERATION" title="{{'PARALLELOPERATION' | translate}}" width="80">
        </kendo-grid-column>
        <kendo-grid-column field="MATCH_WITH_PREV_OP" title="{{'MatchWithPrevOperation' | translate}}" width="80">
        </kendo-grid-column>
        <kendo-grid-column field="U_O_WC_ID" title="{{'WorkCenterCode' | translate}}" width="80">
        </kendo-grid-column>
        <kendo-grid-column field="EFFECTIVE_FROM_DATE" title="{{'EffectiveFromDate' | translate}}" width="80" >
        </kendo-grid-column>
        <kendo-grid-column field="EFFECTIVE_TO_DATE" title="{{'EffectiveToDate' | translate}}" width="80">
        </kendo-grid-column>
        <kendo-grid-column field="COUNT_POINT_OPERATION" title="{{'CountPointOperation' | translate}}" width="80">
        </kendo-grid-column>
        <kendo-grid-column field="U_OPTM_AUTOMOVE" title="{{'AutoMove' | translate}}" width="80">
        </kendo-grid-column>
        <kendo-grid-column field="MIN_TRANSFER_QTY" title="{{'MinTransferQty' | translate}}" width="80" class="text-right" headerClass="text-right">
        </kendo-grid-column>
        <kendo-grid-column field="U_O_INC_LEAD_TIM_CAL" title="{{'InclInLeadTimeCal' | translate}}" width="80">
        </kendo-grid-column>
        <kendo-grid-column field="U_OPTM_MOVE_TIME" title="{{'MoveTime' | translate}}" width="80">
        </kendo-grid-column>
        <kendo-grid-column field="U_OPTM_QCTIME" title="{{'QCTime' | translate}}" width="80">
        </kendo-grid-column>
        <kendo-grid-column field="TIME_UOM" title="{{'TimeUOM' | translate}}" width="80">
        </kendo-grid-column>
        <kendo-grid-column field="EXTERNAL_INFUSE_QTY_PERC" title="{{'PerExternalInfuseQty' | translate}}" width="80" class="text-right" headerClass="text-right">
        </kendo-grid-column>
        <kendo-grid-column field="U_OPTM_INSTRUCTION" title="{{'Instruction' | translate}}" width="80">
        </kendo-grid-column>
        <kendo-grid-column field="U_OPTM_ATTACHMENT" title="{{'Attachments' | translate}}" width="80">
        </kendo-grid-column>
        <!--<kendo-grid-column field="PARALLELOPERATION" title="{{'ParallelGroupNo' | translate}}" width="80">
        </kendo-grid-column>-->
        <kendo-grid-column field="U_O_WC_ID" title="{{'U_O_WC_ID' | translate}}" width="80">
        </kendo-grid-column>
        <div *kendoGridDetailTemplate="let dataItem">
          <div class="h5 mb-2">{{'ResourceDetail' | translate}}</div>
          <kendo-grid [kendoGridBinding]="dataItem.ResourceDetail" [navigable]="true" [resizable]="true" kendoGridFocusable [groupable]=isColumnGroup5 [filterable]=isColumnFilter5 [sortable]="true">
            <ng-template kendoGridToolbarTemplate>
              <div class="d-flex align-items-center">        
                  <label class="custom-checkbox mb-0 mr-3 filter-checkbox">
                      <input type="checkbox" [(ngModel)]="isColumnFilter5" [ngModelOptions]="{standalone: true}">
                      <span class="checkbox"></span>
                      <span>{{'EnableFilter' | translate}}</span>
                  </label>
                  <!-- export -->
                  <button type="button" kendoGridExcelCommand title="{{'ExportToExcel' | translate}}"
                      class="ml-auto btn btn-link btn-sm btn-icon p-0">
                      <svg viewBox="0 0 512 512" class="icon">
                          <use xlink:href="#download"></use>
                      </svg>
                  </button>
              </div>
            </ng-template>
            <kendo-grid-column field="U_O_LINE_NO" title="{{'OperationNumber' | translate}}" width="40" class="text-right" headerClass="text-right">
            </kendo-grid-column>
            <kendo-grid-column field="U_O_RESO_ID" title="{{'ResourceCode' | translate}}" width="80">
            </kendo-grid-column>
           <!-- <kendo-grid-column field="CONSUMPTION_BASIS" title="{{'ResourceName' | translate}}" width="80">
            </kendo-grid-column>-->
            <kendo-grid-column field="U_O_RUOM" title="{{'ResourceUOM' | translate}}" width="80">
            </kendo-grid-column>
            <kendo-grid-column field="U_O_RCONSU" title="{{'Consumption' | translate}}" width="80" class="text-right" headerClass="text-right">
            </kendo-grid-column>
            <kendo-grid-column field="U_O_INVERSE" title="{{'Inverse' | translate}}" width="80" class="text-right" headerClass="text-right">
            </kendo-grid-column>
            <kendo-grid-column field="U_O_NOF_RESO_USED" title="{{'NoResourceUsed' | translate}}" width="80" class="text-right" headerClass="text-right">
            </kendo-grid-column>
            <kendo-grid-column field="U_O_UOM" title="{{'TimeUOM' | translate}}" width="80">
            </kendo-grid-column>
            <kendo-grid-column field="U_O_CONSUMPTION" title="{{'Consumption' | translate}}" width="80" class="text-right" headerClass="text-right">
            </kendo-grid-column>
            <kendo-grid-column field="U_O_INVERSE" title="{{'Inverse' | translate}}" width="80" class="text-right" headerClass="text-right">
            </kendo-grid-column>
            <kendo-grid-column field="U_O_CONSTYPE" title="{{'ConsumptionType' | translate}}" width="80" class="text-right" headerClass="text-right">
            </kendo-grid-column>
            <kendo-grid-column field="U_O_COMPUTION_BASIS" title="{{'Basis' | translate}}" width="80" class="text-right" headerClass="text-right">
            </kendo-grid-column>
            <kendo-grid-column field="U_OPTM_SCHEDULE" title="{{'Schedule' | translate}}" width="80" class="text-right" headerClass="text-right">
            </kendo-grid-column>
            <!-- xlsx template start -->
            <kendo-grid-excel fileName="Resource-Detail.xlsx"></kendo-grid-excel>
            <!-- xlsx template end -->
          </kendo-grid>
        </div>
        <!-- xlsx template start -->
        <kendo-grid-excel fileName="Routing Line.xlsx"></kendo-grid-excel>
        <!-- xlsx template end -->
      </kendo-grid>
    </div>
    <!-- xlsx template start -->
    <kendo-grid-excel fileName="Routing-Header.xlsx"></kendo-grid-excel>
    <!-- xlsx template end -->
  </kendo-grid>
</div>


