<div class="simple-grid-view" *ngIf="gridData">
  <div class="h5 mb-2">{{'SimpleGrid' | translate}}</div>
  <kendo-grid [kendoGridBinding]="gridData" [selectable]="true" [resizable]="true"
    (selectionChange)="simpleGridRowSelect($event)" [ngStyle]="{ 'cursor': 'pointer'}" height="171">
    <kendo-grid-column field="U_O_ITEMCODE" title="{{'ProductNumber' | translate}}" width="80">
    </kendo-grid-column>
    <kendo-grid-column field="U_O_DESC" title="{{'Description' | translate}}" width="80">
    </kendo-grid-column>
    <kendo-grid-column field="U_O_BOM_SEQ" title="{{'BOMSequence' | translate}}" width="80" class="text-right" headerClass="text-right">
    </kendo-grid-column>
    <kendo-grid-column field="U_O_REVISION" title="{{'Revision' | translate}}" width="80" class="text-right" headerClass="text-right">
    </kendo-grid-column>
    <kendo-grid-column field="TYPE" title="{{'Type' | translate}}" width="80" class="text-right" headerClass="text-right">
    </kendo-grid-column>
    <kendo-grid-column field="EFFECTIVEDATE" title="{{'EffectiveDate' | translate}}" width="80" class="text-right"
    headerClass="text-right"></kendo-grid-column> 
    <kendo-grid-column field="U_O_WHSECODE" title="{{'Warehouse' | translate}}" width="80" class="text-right"
      headerClass="text-right"></kendo-grid-column>
    <kendo-grid-column field="U_O_QUANTITY" title="{{'BOMQuantity' | translate}}" width="80" class="text-right"
      headerClass="text-right"></kendo-grid-column> 
    <kendo-grid-column field="U_O_UOM" title="{{'UOM' | translate}}" width="80">
    </kendo-grid-column>  
    <kendo-grid-column field="BOMTYPE" title="{{'BOMType' | translate}}" width="80" class="text-right"
    headerClass="text-right"></kendo-grid-column>   
  </kendo-grid>
</div>


<div class="detail-grid-wrapper d-flex" *ngIf="files2">
  <div *ngIf="detailGridEnableLoader" class="k-i-loading"></div>
  <div class="dashboard-detail-grid pr-3" *ngIf="files2">
    <div class="h5 mb-2">{{'DetailGrid' | translate}}</div>
    <div class="tree-wrapper">
      <div class="content-section implementation restrictedHeight">
        <p-treeTable [value]="files2" selectionMode="single" [scrollable]="true" scrollHeight="100%"
          [resizableColumns]="true" columnResizeMode="expand" height="200">
          <ng-template pTemplate="colgroup">
            <colgroup>
              <col style="width: 120px;">
              <col style="width: 65px;">
              <col style="width: 81px;">
              <col style="width: 71px;">
              <col style="width: 120px;">
              <col style="width: 50px;">
            </colgroup>
          </ng-template>
          <ng-template pTemplate="header">
            <tr>
              <th ttResizableColumn>{{'Item' | translate}}</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-rowNode let-node="node" let-rowNodeIndex="rowNodeIndex"
            let-rowData="rowData">
            <tr [ttRow]="rowNode" [ttSelectableRow]="rowNode">
              <td>
                <p-treeTableToggler [rowNode]="rowNode" class="cursor-pointer"></p-treeTableToggler>
                <span class="cursor-pointer" (click)="DetailGridRowSelect(node)">{{rowData.U_O_ITEMCODE}}</span>
              </td>
            </tr>
          </ng-template>
        </p-treeTable>
      </div>
    </div>
  </div>

  <div class="bom-detail-grid" fxFlex="100%">
    <div *ngIf="BomDetail">
      <div class="h5 mb-2">{{'BOMDetail' | translate}}</div>
      <kendo-grid [kendoGridBinding]="BomDetail"  [loading]="BOMEnableLoader" [selectable]="true" [resizable]="true"
        (cellClick)="OnSelectBOMDetail($event)" [ngStyle]="{ 'cursor': 'pointer'}" height="297">
        <kendo-grid-column field="BOM_ITEMCODE" title="{{'BOMItemCode' | translate}}" width="80"></kendo-grid-column>
        <kendo-grid-column field="U_O_DESC" title="{{'Description' | translate}}" width="80"></kendo-grid-column>
        <kendo-grid-column field="BOM_QUANTITY" title="{{'BOMQuantity' | translate}}" width="80"></kendo-grid-column>
        <kendo-grid-column field="U_O_UOM" title="{{'UOM' | translate}}" width="80"></kendo-grid-column>
        <kendo-grid-column field="U_O_BASIS_CODE" title="{{'ItemBasis' | translate}}" width="80"></kendo-grid-column>
        <kendo-grid-column field="U_O_EFF_FROM_DATE" title="{{'EffectiveFromDate' | translate}}" width="80"></kendo-grid-column>
        <kendo-grid-column field="U_O_EFF_TO_DATE" title="{{'EffectiveToDate' | translate}}" width="80"></kendo-grid-column>
        <kendo-grid-column field="U_O_ISSUE_METHOD" title="{{'IssueMethod' | translate}}" width="80"></kendo-grid-column>
        <kendo-grid-column field="U_O_ISSUE_WHSE" title="{{'WarehouseIssue' | translate}}" width="80"></kendo-grid-column>
        <kendo-grid-column field="U_O_BIN" title="{{'BinIssue' | translate}}" width="80"></kendo-grid-column>
        <kendo-grid-column field="U_O_OPERATION" title="{{'OperationNumber' | translate}}" width="80"></kendo-grid-column>
        <kendo-grid-column field="U_O_COST_ROLLUP" title="{{'CostRollUp' | translate}}" width="80"></kendo-grid-column>
        <kendo-grid-column field="U_OPTM_ECONO" title="{{'ECO' | translate}}" width="80"></kendo-grid-column>
        <kendo-grid-column field="U_OPTM_COMMENTS" title="{{'Comments' | translate}}" width="80"></kendo-grid-column>
        <kendo-grid-column field="U_OPTM_ATTACHMENT" title="{{'Attachments' | translate}}" width="80"></kendo-grid-column>
      </kendo-grid>
    </div>
  </div>
</div>

<div class="d-flex mt-3" fxFlex fxLayout="column" *ngIf="RoutingHeaderDetail">
  <div class="h5 mb-2">{{'RoutingHeader' | translate}}</div>
  <kendo-grid [data]="datas"  [loading]="RoutingHeaderEnableLoader" [height]="400" [navigable]="true" [resizable]="true"
   [ngStyle]="{ 'cursor': 'pointer'}" kendoGridFocusable>
      <kendo-grid-column field="U_O_ROUT_SEQ" title="{{'RoutingSequence' | translate}}" width="80"></kendo-grid-column>
      <kendo-grid-column field="U_O_REVI_NO" title="{{'RoutingRevision' | translate}}" width="80"></kendo-grid-column>
      <kendo-grid-column field="ROUTTYPE" title="{{'RoutingType' | translate}}" width="80"></kendo-grid-column>
      <kendo-grid-column field="U_O_REVI_EFF_DATE" title="{{'EffectiveDate' | translate}}" width="80"></kendo-grid-column>
      <kendo-grid-column field="U_O_FG_WH_ID" title="{{'Warehouse' | translate}}" width="80"></kendo-grid-column>
      <kendo-grid-column field="U_O_DFLT_LOT_SIZE" title="{{'DefaultBatchSize' | translate}}" width="80"></kendo-grid-column>
      <kendo-grid-column field="U_OPTM_APCLBLBOMUNIT" title="{{'ApplicableBOMUnit' | translate}}" width="80"></kendo-grid-column>

      <div *kendoGridDetailTemplate="let dataItem">
        <div class="h5 mb-2">{{'RoutingLine' | translate}}</div>
        <kendo-grid [data]="dataItem.LineDetail" [height]="300" [navigable]="true" [resizable]="true"
         [ngStyle]="{ 'cursor': 'pointer'}" kendoGridFocusable>
          <kendo-grid-column field="Code" title="{{'Code' | translate}}" width="40">
          </kendo-grid-column>
          <kendo-grid-column field="OPERATIONCODE" title="{{'OperationCode' | translate}}" width="80">
          </kendo-grid-column>
          <kendo-grid-column field="OPERATIONTYPE" title="{{'OperationType' | translate}}" width="80">
          </kendo-grid-column>
          <kendo-grid-column field="U_O_OPR_DESC" title="{{'U_O_OPR_DESC' | translate}}" width="80">
          </kendo-grid-column>
          <kendo-grid-column field="RESCNSMETHOD" title="{{'TIME_UOM' | translate}}" width="80">
          </kendo-grid-column>
          <kendo-grid-column field="PARALLELOPERATION" title="{{'TIME_UOM' | translate}}" width="80">
          </kendo-grid-column>
          <kendo-grid-column field="PARALLELOPERATION" title="{{'TIME_UOM' | translate}}" width="80">
          </kendo-grid-column>
          <kendo-grid-column field="U_O_WC_ID" title="{{'U_O_WC_ID' | translate}}" width="80">
          </kendo-grid-column>
          <div *kendoGridDetailTemplate="let dataItem">
            <div class="h5 mb-2">{{'ResourceDetail' | translate}}</div>
            <kendo-grid [data]="dataItem.ResourceDetail" [height]="300" [navigable]="true" [resizable]="true" kendoGridFocusable>
                <kendo-grid-column field="Code" title="{{'Code' | translate}}" width="40">
                </kendo-grid-column>
                <kendo-grid-column field="CONSUMPTION_TYPE" title="{{'ConsumptionType' | translate}}" width="80">
                </kendo-grid-column>
                <kendo-grid-column field="CONSUMPTION_BASIS" title="{{'ConsumptionBasis' | translate}}" width="80">
                </kendo-grid-column>
                <kendo-grid-column field="U_O_RESO_ID" title="{{'ResourceID' | translate}}" width="80">
                </kendo-grid-column>
            </kendo-grid>
        </div>
        </kendo-grid>
    </div>
  </kendo-grid>
</div>



